*{
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* 
MAIN HEADER
*/
h1{
    color: #fff;
}
.header{
    background: #000;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
.header_nav{
  padding: 10px;
}
.header_nav_menu{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}

.header_nav_menu_item{
    flex-basis: 12%;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
}
.header_nav_menu_item a{
    color: #fff;
}
.header_nav_menu_item:hover,
.header_nav_menu_item:hover a{
    background-color: #fff;
    color: #000;
}
/* 
DROPDOWN
*/
.header_nav_menu_item_dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.header_nav_menu_item_dropdown_itens{
    display: none;
    position: relative;
}
.header_nav_menu_item_dropdown_itens a{
    padding: 5px;
}
.header_nav_menu_item:hover .header_nav_menu_item_dropdown_itens{
    display: block;
    top: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
}
/* 
IMAGE
*/
.main_img{
    background-image: url(_img/moon.jpg);
    max-width: 1920px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 22% 10%;
    width: 100%;
    box-sizing: border-box;
    transform-style: inherit;
    z-index: 1;
}